/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 2px solid #f0f1f2; }

input, select {
  vertical-align: middle; }

body {
  font: 400 16px/27px "Nunito", "Helvetica", Arial, sans-serif;
  *font-size: small;
  color: #0F1011; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

a, a:hover, a:active {
  outline: none; }

sub, sup {
  font-size: 50%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.9em; }

a:link {
  -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

strong, b {
  font-family: "Nunito", "Helvetica", Arial, sans-serif; }

html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

::placeholder {
  color: #9DA2A4;
  font-family: "Nunito", "Helvetica", Arial, sans-serif; }

body {
  margin: 0;
  background: #fff; }
  body.dark {
    color: #90999B;
    background: #0F1011; }

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto; }

header {
  position: relative;
  margin: 0 0 40px;
  background: #202425; }
  header h1 {
    float: left;
    display: inline-block;
    height: 41px;
    margin: 20px 50px 0 0; }
    @media screen and (max-width: 910px) {
      header h1 {
        float: none; } }
    header h1 a {
      display: block;
      width: 116px;
      height: 23px;
      margin: 0;
      padding: 0;
      text-indent: -9999em;
      background: url(../images/logo-white.svg) no-repeat top left; }
      header h1 a:hover {
        border-top-color: #fff; }
  header a#mobile-menu {
    display: none;
    position: absolute;
    top: 18px;
    right: 24px;
    width: 24px;
    height: 15px;
    color: #fff;
    font-size: 1.5em; }
    @media screen and (max-width: 910px) {
      header a#mobile-menu {
        display: block; } }
  header nav {
    height: 64px;
    padding: 0; }
    header nav.show {
      display: block; }
    @media screen and (max-width: 910px) {
      header nav {
        position: absolute;
        top: 57px;
        left: 0;
        right: 0;
        padding: 0;
        height: 56px;
        display: none;
        height: auto;
        background: #fff;
        z-index: 99; } }
    header nav a {
      display: inline-block;
      padding: 15px 0 0;
      margin: 0 35px 0 0;
      border-top: 2px solid transparent;
      font-size: 15px;
      font-weight: 400;
      color: #90999B;
      transition: all 0.2s linear; }
      header nav a:hover, header nav a.active {
        color: #fff;
        border-top-color: #15B6FB; }
      @media screen and (max-width: 1023px) {
        header nav a {
          margin: 0 20px 0 0; } }
      header nav a#twitter-sign-in {
        float: right;
        margin: 0; }
        @media screen and (max-width: 910px) {
          header nav a#twitter-sign-in {
            float: none; } }
      @media screen and (max-width: 910px) {
        header nav a {
          position: relative;
          clear: left;
          display: block;
          margin: 0;
          padding: 0;
          border: 0;
          border-bottom: 1px solid #E3E8E8;
          line-height: 43px;
          text-align: center;
          padding: 8px 0;
          margin: 0; } }
  header form {
    padding: 25px 0px 0; }
    header form input[type=text] {
      display: block;
      width: 98%;
      border: 2px solid #E3E8E8;
      height: 49px;
      padding-left: 2%;
      line-height: 49px;
      border-radius: 4px;
      font-size: 18px;
      outline: none;
      background: #fff; }

h2 {
  font: 400 22px/35px "Nunito", "Helvetica", Arial, sans-serif;
  margin: 0 0 24px; }

.album-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px 30px; }
  @media screen and (max-width: 1023px) {
    .album-grid {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 768px) {
    .album-grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 600px) {
    .album-grid {
      grid-template-columns: repeat(2, 1fr); } }

.album {
  font-size: 13px; }
  .album img {
    display: block;
    max-width: 100%;
    margin: 0 0 10px;
    border-radius: 3px; }
  .album a {
    display: block;
    line-height: 17px; }
  .album a.album-title {
    color: #202425; }
    body.dark .album a.album-title {
      color: #F9F9F9; }
  .album a.album-artist {
    color: #9DA2A4; }

footer {
  margin: 60px 0 0;
  padding: 60px 0;
  background: #F9F9F9; }
  body.dark footer {
    color: #9DA2A4;
    background: #202425; }
  footer a {
    color: #15B6FB; }
