<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Droptune – Never miss another album release</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True" />
  <meta name="lOptimized" content="width" />
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css?v=1">
</head>
<body>
  <header role="main">
    <div class="container">
      <a href="#" id="logo">Droptune</a>
      <a href="#" id="mobile-menu"><i class="fas fa-bars"></i></a>
      <nav>
        <a href="#" id="twitter-sign-in">Sign in with Twitter</a>
        <a href="#" class="active">Albums</a>
        <a href="#">Videos</a>
        <a href="#">Artists</a>
        <a href="#">Charts</a>
        <a href="#">Users</a>
        <a href="#">Playlists</a>
      </nav>
    </div>
  </header>
  <main class="container">
    <nav class="breadcrumb">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Artists</a></li>
        <li><a href="#">Troye Sivan</a></li>
        <li class="active">Bloom</li>
      </ol>
    </nav>

  </main>
  <footer>
    <div class="container">
      <p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
      <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../javascript/script.js"></script>
</body>
</html>


