<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Droptune – Never miss another album release</title>
	<meta name="description" content="">
	<meta name="HandheldFriendly" content="True" />
	<meta name="lOptimized" content="width" />
	<meta http-equiv="cleartype" content="on" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css?v=1">
</head>
<body>
	<header >
		<div class="container">
			<h1><a href="#" id="logo">Droptune</a></h1>
			<a href="#" id="mobile-menu"><i class="fas fa-bars"></i></a>
			<nav>
				<a href="#" id="twitter-sign-in">Sign in with Twitter</a>
				<a href="#" class="active">Albums</a>
				<a href="#">Videos</a>
				<a href="#">Artists</a>
				<a href="#">Charts</a>
				<a href="#">Users</a>
				<a href="#">Playlists</a>
			</nav>
		</div>
	</header>
	<div class="container">
		<h2>Latest Releases</h2>
		<div class="album-grid">
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
			<div class="album">
				<a href="#"><img src="../images/500x500bb.jpg" /></a>
				<a href="#" class="album-title">Album Title</a>
				<a href="#" class="album-artist">Artist</a>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
			<p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
		</div>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../javascript/script.js"></script>
</body>
</html>


