@import "variables";
@import "reset";
@import "media-queries";

// Layout

.container {
	position: relative;
	max-width: 1140px;
	padding: 0 24px;
	margin: 0 auto;
}

// Header

header {
	position: relative;
	margin: 0 0 40px;
	background: $black;

	h1 {
		float: left;
		display: inline-block;
		height: 41px;
		margin: 20px 50px 0 0;

		@include max-screen(910px) {
			float: none;
		}

		a {
			display: block;
			width: 116px;
			height: 23px;
			margin: 0;
			padding: 0;
			text-indent: -9999em;
			background: url(../images/logo-white.svg) no-repeat top left;

			&:hover {
				border-top-color: #fff;
			}
		}
	}

	a#mobile-menu {
	    display: none;
	    position: absolute;
	    top: 18px;
	    right: 24px;
	    width: 24px;
	    height: 15px;
	    color: $white;
	    font-size: 1.5em;
	    @include max-screen(910px) {
	        display: block;
	    }
	}

	nav {
		height: 64px;
		padding: 0;

		&.show {
		  display: block;
		}

		@include max-screen(910px) {
			position: absolute;
			top: 57px;
			left: 0;
			right: 0;
			padding: 0;
			height: 56px;
		  display: none;
			height: auto;
			background: #fff;
			z-index: 99;
		}

		a {
			display: inline-block;
			padding: 15px 0 0;
			margin: 0 35px 0 0;
			border-top: 2px solid transparent;
			font-size: 15px;
			font-weight: 400;
			color: $gray;
			transition: all 0.2s linear;

			&:hover, &.active {
				color: $white;
				border-top-color: $blue;
			}

			@include max-screen(1023px) { margin: 0 20px 0 0; }

			&#twitter-sign-in {
				float: right;
				margin: 0;

				@include max-screen(910px) {
					float: none;
				}
			}

			@include max-screen(910px) {
			  position: relative;
			  clear: left;
			  display: block;
				margin: 0;
				padding: 0;
				border: 0;
			  border-bottom: 1px solid $lighter-gray;
			  line-height: 43px;
			  text-align: center;
			  padding: 8px 0;
			  margin: 0;
			}
		}
	}

	form {
		padding: 25px 0px 0;

		input[type=text] {
			display: block;
			width: 98%;
			border: 2px solid $lighter-gray;
			height: 49px;
			padding-left: 2%;
			line-height: 49px;
			border-radius: 4px;
			font-size: 18px;
			outline: none;
			background: #fff;
		}
	}
}

// Typography
h2 {
	font: 400 22px/35px $fonts;
	margin: 0 0 24px;
}

// Album Layout
.album-grid {
  display: grid;
  grid-template-rows: repeat($album-grid-rows, auto);
  grid-template-columns: repeat($album-grid-cols, 1fr);
  grid-gap: 20px 30px;

  @include max-screen(1023px) {
  	grid-template-columns: repeat(4, 1fr);
  }

  @include max-screen(768px) {
  	grid-template-columns: repeat(3, 1fr);
  }

  @include max-screen(600px) {
  	grid-template-columns: repeat(2, 1fr);
  }
}

.album {
	font-size: 13px;

	img {
		display: block;
		max-width: 100%;
		margin: 0 0 10px;
		border-radius: 3px;
	}

	a {
		display: block;
		line-height: 17px;
	}

	a.album-title {
		color: $darker;

		body.dark & {
			color: $lightest-gray;
		}
	}

	a.album-artist {
		color: $light-gray;
	}
}

// Footer
footer {
	margin: 60px 0 0;
	padding: 60px 0;
	background: $lightest-gray;

	body.dark & {
		color: $light-gray;
		background: $darker;
	}

	a { color: $blue; }
}
